body     {
    background: #33D9FF;
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0px;
    background: 33D9FF;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, auto);

    grid-template-areas: "nav nav nav"
                        "header header header"
                        "section section section";
}

.contenedor nav {
    background: black;
    min-height: 70px;
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    flex-wrap: wrap;
    margin: 20px;
}

.titlenav {
    color: white;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.navbuttons {
    background: black;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}

div .buttonnav {
    min-width: 100px;
    color: white;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    border: 0;
}

div .buttonnav:hover {
    background: rgb(136, 194, 202);
}

.pleacesearch {
    background: black;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    border-radius: 20px;
}

div .buttondivinnav {
    min-width: 100px;
    margin: 5px;
    color: black;
    background: rgb(136, 194, 202);
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    border: 0;
}

div .buttondivinnav:active {
    background: black;
    color: rgb(136, 194, 202);
}

div input {
    background: rgb(136, 194, 202);
    border-radius: 10px;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
}

div input::placeholder {
    background: rgb(136, 194, 202);
    font-family: 'Courier New', Courier, monospace;
}

.contenedor header {
        background: #539bac;
        grid-area: header;
        min-height: 635px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
}

header img {
    width: 90px;
    height: auto;
}

.contenedor .aboutme {
    grid-area: section;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cointenedoraboutdis {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: dotted 2px #000000;
    border-radius: 20px;
    margin: 10px;
}

.cointenedoraboutdis img {
    width: 150px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
}

.aboutme-skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: dotted 2px #000000;
    border-radius: 20px;
}

.aboutme-skills .icon-skills {
    display: flex;
    flex-wrap: wrap;
}

.icon-skills .lenguage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lenguage img {
    width: 80px;
    height: auto;
}

@media screen and (max-width: 768px){
    .contenedor {
        grid-template-areas: "nav nav nav"
                        "header header header"
                        "section section section"
    }

    .contenedor nav {
        min-height: 200px;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
    }

    .navbuttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .pleacesearch {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .contenedor header {
        padding: 10px;
    }
    .cointenedoraboutdis {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        box-sizing: border-box;
    }
}